In [15]:
import pandas as pd
import numpy as np

In [3]:
CCM = pd.read_csv('CCM_Annual_1985-2019.csv')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (2,17,33,37,952,953,955,956,957,962,976,977,982) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
# net income(loss) - ni
# cash dividents paid - dvpd (NaN for all rows)
# Cash Dividends (Cash Flow) - dv
# Financing Activities Net Cash Flow - fincf
# Investing Activities Net Cash Flow - ivncf
# Operating Activities Net Cash Flow - oancf
# Cash - ch
# Gross Proft - gp
# Interest and Related Expense (Total) - xint 
# Current Liabilities - lct 
# Long term debt total - dltt

## Ratios to consider ##

In [26]:
# Activity 
# net income/total sales

# TURNOVER RATIO
# cash/sales 
# cash flow/sales 

# GROWTH 
# net income growth 

# PROFABILITY 
# gross profit/sales

# CASH FLOW RATIO
# cash flow/total assets 

# SOLVENCY RATIO 
# financial expenses/cash flow 
# financial expenses/net income 

# FINANCIAL STRUCTURE 
# current liabilities/total assets 
# long-term debt/total assets

In [29]:
CCM[['ni','dv','fincf','ivncf','oancf','ch','gp','xint','lct','dltt']]

,ni,dv,fincf,ivncf,oancf,ch,gp,xint,lct,dltt
0,2.576,0.0,NaN,NaN,NaN,1.688,40.268,1.726,13.922,11.908
1,0.236,0.0,NaN,NaN,NaN,0.005,10.330,0.273,2.643,4.682
2,0.793,0.0,NaN,NaN,NaN,0.241,17.189,0.448,3.378,3.750
3,0.186,0.0,1.744,-0.523,-0.987,0.475,13.589,0.502,2.921,5.478
4,-7.838,0.0,2.223,-0.296,-2.100,0.302,11.088,0.727,16.370,0.104
...,...,...,...,...,...,...,...,...,...,...
226564,230.800,62.9,-166.600,-39.100,343.500,159.000,973.200,31.200,461.700,929.200
226565,222.700,120.7,-226.400,-160.300,336.300,106.400,962.600,44.700,462.200,1047.100
226566,-20.640,0.0,-11.887,40.024,-37.360,33.498,25.187,6.517,56.666,96.133
226567,12.700,0.0,127.385,-170.503,47.509,16.958,128.429,11.785,47.384,183.670
226568,75.700,0.0,338.600,-364.500,118.500,99.400,340.400,0.900,234.200,183.700